@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/Scripts/javascript/Land.js")
@Styles.Render("~/Content/style/landing.css")

<div class="promotionGroup container container--main">
    <div class="promotionGroup__item " id="promotion.individual.homepage.online.services.1">
        <div class="promotion  promotion--imageReverse">
            <h3 class="promotion__title p-3">#Գտիր-ամենահարմարը</h3>
            <div class="promotion__imgBlock">
                <img class="promotion__img promotion__img--sticky" src="~/Content/images/happy-families.jpg" alt="#Կառուցիր քո ապագա տունը">
            </div>
            <div class="promotion__description">
                <div class="container overflow-hidden">
                    <div class="row text-center p-3">
                        <h3>ԱՆՀԱՏՆԵՐԻՆ</h3>
                        <div class="row gy-5">
                            <div class="col-6">
                                <div class="p-3 border bg-light">
                                    <button type="button" class="btn btn-outline-success btn-lg"><h5>@Html.ActionLink("ԱՎԱՆԴՆԵՐ", "Index", "Deposit")</h5></button>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border bg-light">
                                    <button type="button" class="btn btn-outline-success btn-lg"><h5>@Html.ActionLink("ՍՊԱՌՈՂԱԿԱՆ ՎԱՐԿԵՐ", "Index", "Loan")</h5></button>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border bg-light">
                                    <button type="button" class="btn btn-outline-success btn-lg"><h5>@Html.ActionLink("ՀԻՓՈԹԵՔ", "Index", "Mortgage")</h5></button>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 border bg-light">
                                    <button type="button" class="btn btn-outline-success btn-lg"><h5>@Html.ActionLink("ՔԱՐՏԵՐ", "Index", "Card")</h5></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <button type="button" class="btn btn-outline-success btn-lg">@Html.ActionLink("ՎԱՐԿԱՅԻՆ ՀԱՇՎԻՉ", "LoanCalc", "Home")</button>
            </div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">
                <button type="button" class="btn btn-outline-success btn-lg">@Html.ActionLink("ԱՎԱՆԴԱՅԻՆ ՀԱՇՎԻՉ", "DepositCalc", "Home")</button>
            </div>
        </div>
    </div>
</div>